<!DOCTYPE html>
   <html>
  <head>
   <title>Tech Jungle</title>
   <link rel='shortcut icon' href = "https://user-images.githubusercontent.com/76495035/124677613-77185780-de86-11eb-8bbc-982a6b64214e.png" type = "image/png">
      {% load bootstrap4 %}
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full' %}
  </head>

  <body>
  <header>
  <nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-light">
  <a class="navbar-brand" href="/">Tech Jungle</a>
    <form class="form-inline">
      <a class="nav-link mr-2 ml-2 text-dark" href="/buy/">Buy</a>
      <a class="nav-link mr-2 ml-2 text-dark" href="/sell/">Sell</a>
      <a class="nav-link mr-2 ml-2 text-dark" href="/saveditems/">Saved Items</a>
      <a class="nav-link mr-2 ml-2 text-dark" href="/profile/">Profile</a>
      <span class="mr-4">{{request.user.get_full_name|title}}</span>
      <a href="/sign-out">Sign Out</a>
    </form>
</nav>
  </header><br><br>
              <div class="col-lg-4" style="margin-left:100px">
                <div class="card bg-white mt-2 mb-5">
                    <div class="card-body">
                        <p class="text-secondary text-dark" style="font-size:20px">Information Edit</p>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form_errors sell_form %}
                            <p class="text-secondary text-dark" style="font-size:18px">Email</p>
                            <input type="text" class="form-control" placeholder={{request.user.email}} disabled><br>
                            {% bootstrap_field sell_form.name_of_product %}
                            {% bootstrap_field sell_form.description %}
                            {% bootstrap_field sell_form.category %}
                            {% bootstrap_field sell_form.condition %}
                            {% bootstrap_label "Price (USD)" %}
                            {% bootstrap_field sell_form.price show_label=False placeholder="Price" %}
                            {% bootstrap_label "Pick Up or Ship" %}
                            {% bootstrap_field sell_form.pickuporship show_label=False %}
                            {% bootstrap_label "Pickup Area" %}
                            {% bootstrap_field sell_form.city show_label=False placeholder="Pickup Area" %}
                            {% bootstrap_field sell_form.photo %}
                            <input type="hidden" name="step" value="edit">
                            <button type="submit" class="btn btn-success">Post</button>
                        </form>
                    </div>
                </div>
              </div>
  <footer class="text-center mt-5 mb-5">
    &copy; 2021, Tech Jungle
  </footer>
  </body>
 </html>