<!DOCTYPE html>
   <html>
  <head>
   <title>Tech Jungle</title>
   <link rel='shortcut icon' href = "https://user-images.githubusercontent.com/76495035/124677613-77185780-de86-11eb-8bbc-982a6b64214e.png" type = "image/png">
    <script src="https://js.stripe.com/v3/"></script>
      {% load bootstrap4 %}
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full' %}
      {% load static %}
  </head>
  <style>
      .StripeElement {
        height: 40px;
        padding:10px 12px;
        width: 100%;
        color: #32325d;
        border-radius: 4pc;
      }
      .StripeElement--focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
      }
      .StripeElement--invalid {
        border-color: #fa755a;
      }

  </style>
  <body>
  <header>
  <nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-light">
  <a class="navbar-brand" href="/">Tech Jungle</a>
    <form class="form-inline">
      <a class="nav-link mr-2 ml-2 text-dark" href="/buy/">Buy</a>
      <a class="nav-link mr-2 ml-2 text-dark" href="/sell/">Sell</a>
      <a class="nav-link mr-2 ml-2 text-dark" href="/saveditems/">Saved Items</a>
      <a class="nav-link mr-2 ml-2 text-dark" href="/profile/">Profile</a>
      <span class="mr-4">{{request.user.get_full_name|title}}</span>
      <a href="/sign-out">Sign Out</a>
    </form>
</nav>
  </header><br><br>
           <center><div class="card" style="width: 30rem;">
           <div class="card-body">
            <div style="align:middle">
                    <div class="text-center">
                       <h4>{{request.user.get_full_name}}</h4>
                        <p class="text-secondary">{{request.user.email}}</p>
                    </div>
                </div>
           </div>
           </div>
            </div></center>

    <div class="container bg-light mt-4 pt-3 pb-3">
        <div class="row">
            <div class="col-lg-6">
                <b class="text-secondary text-dark" style="font-size:20px">Change Profile</b><br>
                <div class="card bg-white mt-2 mb-5">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form user_form %}
                            <input type="hidden" name="action" value="update_profile">
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
                <div class="card bg-white mt-2 mb-5">
                    <div class="card-body">
                        <form method="POST">
                           {% csrf_token %}
                           {% bootstrap_form_errors pickup_form %}
                           {% bootstrap_label "Pickup Area" %}
                           {% bootstrap_field pickup_form.pickup_area show_label=False placeholder="Add Pickup Area (City or County)" %}
                           <input type="hidden" name="action" value="update_pickup_area">
                           <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <b class="text-secondary text-dark" style="font-size:20px">Change Password</b><br>
                <div class="card bg-white mt-2 mb-5">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form password_form %}
                            <input type="hidden" name="action" value="update_password">
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <footer class="text-center mt-5 mb-5">
    &copy; 2021, Tech Jungle
  </footer>

    <script src = "https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">
    <script>
        function toast(message,type) {
            bootoast.toast({
                position:'leftBottom',
                message,
                type,
            });
        }

        {% if messages %}

        {% for message in messages %}
        toast('{{message}}','{{message.tage}}');
        {% endfor %}
        {% endif %}
          var stripe = Stripe('pk_test_51JBXTxDSX74Tf85uDinV6akCBI8zK601HxVwLvsVUSqNmmwiNx02axZJPhBdSrZzSLVOYzcaS9SvPMSKxmbCLh3L00SX561CZC');
          var elements = stripe.elements();
          var cardElement = elements.create('card');
          cardElement.mount('#card-element');

          var cardholderName = document.getElementById('cardholder-name');
          var cardButton = document.getElementById('card-button');
          var clientSecret = "{{ client_secret }}";

          cardButton.addEventListener('click', function (ev) {
            stripe.confirmCardSetup(
                clientSecret,
                {
                    payment_method: {
                        card: cardElement,
                    },
                }
            ).then(function (result) {
              if (result.error) {
                toast(result.error.message, 'error');
              } else {
                toast('Payment method is added.', 'success');
              }
            });
          });

  </script>
  </body>
 </html>